In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from sqlalchemy import create_engine

try: 
    engine = create_engine('postgresql://postgres:capstone@35.197.77.78:5432/postgres')
    print('Database found')
except: 
    print('No database avialable')

Database found

In [3]:
query = """
SELECT * FROM books
"""

In [4]:
df = pd.read_sql(query, engine)
df.head()

,index,isbn,title,authors,average_rating,image_url
0,0,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34,https://images.gr-assets.com/books/1447303603m...
1,1,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44,https://images.gr-assets.com/books/1474154022m...
2,2,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,3.57,https://images.gr-assets.com/books/1361039443m...
3,3,61120081,To Kill a Mockingbird,Harper Lee,4.25,https://images.gr-assets.com/books/1361975680m...
4,4,743273567,The Great Gatsby,F. Scott Fitzgerald,3.89,https://images.gr-assets.com/books/1490528560m...