https://www.youtube.com/watch?v=8rcVcH4OTdo&list=WL&index=75&t=0s

In [1]:
import os
import os.path   # To check if the cover image file exists

import pandas as pd
import matplotlib.pyplot as plt
# from scipy.misc import imread, imresize, imshow
import numpy as np

from PIL import Image # To resize the cover images.

# from hashlib import md5
# import glob # grab only jpegs
import warnings
warnings.filterwarnings('ignore')

from myfunk import *

%matplotlib inline

Using TensorFlow backend.

In [2]:
# Check Path

project_name = 'book_cover_recommender'

if not os.getcwd().endswith(project_name):
    try: 
        ind = os.getcwd().index(project_name)
        idx = len(os.getcwd()) - (ind+len(project_name))
        path = os.getcwd()[:-idx]
        print(path)
        os.chdir(path)
    except:
        print('{} not found in path'.format(project_name))
else: 
    path = os.getcwd()
    print(path)
    
data = pd.read_csv(path+"/data/interim/books_sample.csv", index_col=0)
print(data.shape)
data.head(2)

/Users/iZbra1/Documents/K2DS/Projects/book_cover_recommender
(100, 9)

,isbn,authors,year,title,average_rating,ratings_count,image_url,cover_exists,cover
book_id,,,,,,,,,
1,439023483,suzanne collins,2008,the hunger games the hunger games 1,4.34,4780653,https://images.gr-assets.com/books/1447303603m...,True,the hunger games the hunger games 1 by suzanne...
2,439554934,jk rowling mary grandpre,1997,harry potter and the sorcerers stone harry pot...,4.44,4602479,https://images.gr-assets.com/books/1474154022m...,True,harry potter and the sorcerers stone harry pot...

In [3]:
for inst in data.loc[(data.year==0)].cover.values:
    print(inst)

the odyssey by homer robert fagles ev rieu frederic mugler bernard knox.jpg

In [4]:
# There are values where the year is 0, for now we'll remove them. 
data = data.loc[~(data.year==0)]
data.shape

(99, 9)

In [5]:
### Assumption: All downloaded images are encoded in RGB
os.chdir(path+"/data/external/covers")
image_files = [f for f in glob.glob('*.jpg')]
print(len(image_files))

93

In [6]:
## --- Remove cover dupes (a.k.a covers that were not found)

# Any little change in intensity yields two hashes 
duplicates, ds_dict, hash_ds = get_hash(image_files)

if len(duplicates)>0:
    data = remove_dupes(data, duplicates)
    print('Removed duplicates',data.shape)
else: 
    print('All covers are unique')

All covers are unique

In [7]:
## Sanity check 
## ---- Check if all instances have their book covers. 
data['cover_exists'] = data.cover.apply(lambda x: os.path.isfile(os.getcwd()+'/'+x))

try: 
    assert data.loc[data.cover_exists==False].shape[0] == 0
    print('Sanity check passed!')
except AssertionError as e:
    print('Number of images doesnt correspond to the number of books in the dataset', type(e))

# Sanity check
image_files = [f for f in glob.glob('*.jpg')]
try:
    assert len(image_files) == data.shape[0]
    print('Sanity check passed!')
except AssertionError: 
    print('Number of cover images in storage:', len(image_files), '\nNumber of instances:', data.shape[0])

Number of images doesnt correspond to the number of books in the dataset <class 'AssertionError'>
Number of cover images in storage: 93
Number of instances: 99

In [11]:
# If # of images in storage > # of instances: 
# Get the images in storage that are not in the dataset: 
os.chdir(path+"/data/external/covers")
data_covers = [row.cover for _, row in data.iterrows()]
rm_Img = [im for im in image_files if im not in data_covers]
if rm_Img != []:
    remove_cover_images(rm_Img)

In [15]:
# If # of images in storage < # of instances: 
# Update dataset by removing books that dont have a cover saved
data = data.loc[data.cover_exists==True]
data.shape

(93, 9)

In [16]:
## ---- Preprocess the image covers

# Get the size of the covers
data['cover_size'] = data.cover.apply(lambda f: imread(f).shape)

# Height vs width
data['height'] = data.cover_size.apply(lambda x: int(x[0]))
data['width'] = data.cover_size.apply(lambda x: int(x[1]))

# Drop image_url and cover_size
data.drop(['image_url','cover_size', 'cover_exists'], axis=1, inplace=True)
print(data.shape)
data.head()

(93, 9)

,isbn,authors,year,title,average_rating,ratings_count,cover,height,width
book_id,,,,,,,,,
1,439023483,suzanne collins,2008,the hunger games the hunger games 1,4.34,4780653,the hunger games the hunger games 1 by suzanne...,146,98
2,439554934,jk rowling mary grandpre,1997,harry potter and the sorcerers stone harry pot...,4.44,4602479,harry potter and the sorcerers stone harry pot...,147,98
3,316015849,stephenie meyer,2005,twilight twilight 1,3.57,3866839,twilight twilight 1 by stephenie meyer.jpg,147,98
4,61120081,harper lee,1960,to kill a mockingbird,4.25,3198671,to kill a mockingbird by harper lee.jpg,151,98
5,743273567,f scott fitzgerald,1925,the great gatsby,3.89,2683664,the great gatsby by f scott fitzgerald.jpg,153,98

In [11]:
# data.to_csv(path+"/data/interim/books.csv")

In [ ]:
## --- Post processing:
# Copy covers folder from external to raw

In [17]:
os.chdir(path+"/data/raw/covers")

In [18]:
# Resizing to 149x98
cover_resize(image_files, width=98, height=149)
# Update the changes in the dataframe
data.height = 149
data.width = 98

In [19]:
data.to_csv(path+"/data/processed/books.csv")

# Let's drop those ratings to books that are not in the books.csv
rat = pd.read_csv(path+"/data/interim/ratings.csv", index_col=0)
rat = rat.loc[rat.book_id.isin(data.index)]
# Remove the user that only rated 1 books 
rpu = rat[['rating']].groupby('user_id').count()
rat = rat.loc[rat.index.isin(rpu.loc[rpu.rating>1].index.values)]
rat.shape

(935097, 2)

# Duplicates?

In [20]:
rat.to_csv(path+"/data/processed/ratings.csv")
print('Pre-processing done!')

Pre-processing done!

---